/.idea/
/.venv/
/data/db/
db.sqlite3
*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# PyCharm
!.idea/

.idea/*
!.idea/runConfigurations/

# Installer logs
pip-log.txt
